@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-iconia;
}

*,
*::after,
*::before {
  transition: all ease-in-out 100ms;
}

.navbar__item.active {
  @apply bg-gray-300 text-gray-800 py-1 px-2;
}

.dropdown:hover {
  svg {
    transform: rotate(180deg);
  }
  .dropdown-menu {
    display: block;
    & li {
      &:first-of-type a {
        @apply rounded-t;
      }
      &:last-of-type a {
        @apply rounded-b;
      }
      & .active {
        @apply bg-gray-800 text-gray-300;
      }
    }
  }
  .active {
    @apply py-2 px-4;
  }
}
